#main{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: auto;
  width: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

@font-face {
  font-family: 'crazy-sixties';
  src: url('fonts/Crazy Sixties.ttf');
}

img.logo{
  display: block;
  margin: 0 auto;
  height: 200px; 
  max-width: auto;

  pointer-events: none;
  user-select: none; 
}

.no-cursor {
  color: transparent;
  text-shadow: 0 0 0 #000000;
}

.title {
  font-family: 'crazy-sixties';
  text-align: center;
  font-size: 58px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
}

.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}